ul{
  list-style: none;
}

.app{
  margin: 30px auto;
  width: 50%;
}

.delete{
  color: red;
  margin-left: 5px;
  cursor: pointer;
}

input{
  margin-bottom: 10px;
}

.btn{
  margin: 10px 10px 10px 0;
}

.app ul{
  margin: 0;
  padding: 0;
}

.app li{
  border: 2px solid #DDD;
  background-color: #EEE;
  padding: 5px 10px;
  margin: 10px 0;
}
